// Colors
$darkBlue: hsl(219, 43%, 16%);
$blue: hsl(218, 20%, 38%);
$gray: hsl(30, 33%, 93%);
$lightGray: hsl(30, 29%, 97%);
$violet: hsl(264, 100%, 69%);
$pink: hsl(292, 76%, 54%);
$orange: hsl(31, 100%, 65%);
$buttonBG: linear-gradient(135deg, $violet 0%, $pink 49.21%, $orange 100%);
